<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>artifax</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <style>
      /* ===== Scrollbar CSS ===== */
      /* Firefox */
      * {
        scrollbar-width: thin;
        scrollbar-color: #34d399;
      }

      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 8px;
      }

      *::-webkit-scrollbar-track {
        background: transparent;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #34d399;
        border-radius: 10px;
      }
    </style>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#2a2a2a] pb-24 pt-20" style="font-family: Inter, sans-serif">
    <nav
      class="fixed top-0 z-20 grid w-full grid-cols-3 border-b border-accentLight bg-[#2a2a2a] px-8 py-4 text-white"
    >
      <img
        src="/images/hamburger.png"
        class="w-6 cursor-pointer"
        onclick="toggleSlideOver()"
      />
      <div class="flex justify-center">
        <a href="/" class="flex items-center">
          <p class="text-center font-bold">VISUALIZE</p>
        </a>
      </div>
    </nav>

    <!-- Edit Text Pop Up -->
    <div id="popup-container" class="invisible fixed inset-0 z-50 w-full">
      <div
        id="popup-bg"
        class="absolute inset-0 h-full w-full bg-black opacity-0 transition-all duration-500 ease-out"
      ></div>
      <div
        id="popup"
        class="absolute bottom-0 left-0 right-0 top-0 m-auto flex w-[85%] translate-x-full items-center lg:w-[30%]"
      >
        <div class="w-full rounded-lg bg-[#2a2a2a] p-4">
          <div class="flex items-center justify-between">
            <p class="text-3xl font-bold text-white">Edit Prompt</p>
            <div
              onclick="togglePopUp()"
              class="left-0 top-0 flex h-8 w-8 cursor-pointer items-center justify-center text-emerald-500"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </div>
          </div>
          <form
            class="mt-4"
            id="editTextChatForm"
            method="POST"
            onsubmit="ShowLoading()"
          >
            <label for="editTextChat" class="font-thin text-white"
              >Enter new prompt:</label
            >
            <input
              type="text"
              name="textChat"
              rows="3"
              id="editTextChat"
              class="w-full resize-none border-b border-[#3a3a3a] bg-[#2a2a2a] text-white focus:outline-none"
            />
            <button
              class="mt-4 w-full rounded-lg bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% py-2 text-center font-bold text-white"
            >
              Update
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Slide Over -->
    <div
      id="slideover-container"
      class="invisible fixed left-0 z-50 -mt-20 h-full w-[85%] lg:w-[30%]"
    >
      <div
        id="slideover"
        class="absolute left-0 h-full w-full -translate-x-full rounded-br-3xl rounded-tr-3xl bg-dark/30 backdrop-blur-3xl transition-all duration-300 ease-out"
      >
        <div class="flex h-full flex-col justify-between overflow-y-scroll">
          <div class="p-5">
            <div class="mb-4 flex items-center gap-x-2">
              <a
                href="/chats/new"
                class="flex grow items-center gap-x-4 rounded-lg border border-accentLight2 px-3 py-1 text-white"
              >
                <p class="text-xl">+</p>
                <p>New Chat</p>
              </a>
              <div
                onclick="toggleSlideOver()"
                class="left-0 top-0 flex h-8 w-8 cursor-pointer items-center justify-center text-emerald-500"
              >
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </div>
            </div>
            <% for (let chat of chats){ %> <%
            if(currentUser._id.equals(chat.author)){ %>
            <div class="mb-1 flex items-center gap-x-4">
              <div class="grow border-b border-accentLight3"></div>
              <p class="text-center text-white"><%= chat.relativeTime %></p>
              <div class="grow border-b border-accentLight3"></div>
            </div>
            <% if(currentChat._id.equals(chat._id) ){ %>
            <a
              href="/chats/<%= chat._id %>"
              class="mb-2 flex justify-between rounded-lg bg-sky-500 px-3 py-2 text-white"
            >
              <p><%= chat.title %></p>
              <div class="flex items-center gap-x-2">
                <form
                  action="/chats/<%= chat._id %>?_method=DELETE"
                  method="POST"
                  class="z-20 flex items-center"
                >
                  <button type="submit">
                    <img src="/images/delete.png" class="w-4" srcset="" />
                  </button>
                </form>
              </div>
            </a>
            <% } else {%>
            <a
              href="/chats/<%= chat._id %>"
              class="eaase-in mb-2 flex justify-between rounded-lg bg-white/10 px-3 py-2 text-white transition duration-150 hover:bg-white/30"
            >
              <p><%= chat.title %></p>
              <form
                action="/chats/<%= chat._id %>?_method=DELETE"
                method="POST"
                class="z-20"
              >
                <button type="submit">
                  <img src="/images/delete.png" class="w-4" srcset="" />
                </button>
              </form>
            </a>
            <% } %> <% } %> <% } %>

            <form action="/logout" method="POST" class="mt-4">
              <p class="text-sm text-white">
                Logged in as: <br />
                <span class="text-xl font-bold text-emerald-500"
                  ><%= currentUser.username %></span
                >
              </p>
              <button
                type="submit"
                class="mt-2 flex w-full justify-center rounded-md bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% py-2"
              >
                <p class="text-white">Log out</p>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <% if(currentChat.prompts.length) { %>
    <main class="mx-auto text-sm">
      <% for(let prompt of currentChat.prompts){ %>
      <div class="mb-4 px-8 lg:mx-auto lg:w-[27%] lg:px-0">
        <div>
          <p class="font-bold text-emerald-400"><%= currentUser.username %></p>
          <div class="flex items-start gap-x-2">
            <p class="mt-1 text-white"><%= prompt.textChat %></p>
            <img
              src="/images/editing.png"
              class="mt-[0.4rem] w-4 cursor-pointer"
              onclick="togglePopUp('<%= prompt.textChat %>', '<%= currentChat._id %>', '<%= prompt._id %>')"
            />
          </div>
        </div>
      </div>

      <div class="mb-4 rounded-lg bg-[#3a3a3a] px-4 pb-4 pt-2">
        <div class="lg:mx-auto lg:w-[27%]">
          <p class="text-center font-bold text-white">artifax.</p>
          <img
            src="<%= prompt.responseUrl %>"
            alt="Apologies, but we were unable to create the image as per your request.
            Please review your prompt to not contain any invalid characters and attempt the process once more."
            class="mt-2 w-full rounded-lg text-white"
          />
          <nav class="mt-4 flex gap-x-2">
            <form
              action="/chats/<%= currentChat._id %>/prompts/<%= prompt._id %>/response?_method=PUT"
              method="POST"
              class="w-[50%]"
            >
              <button
                type="submit"
                class="w-full rounded-lg bg-white/30 py-2 font-medium text-white backdrop-blur-sm transition duration-150 ease-in hover:bg-white/50"
              >
                Regenerate
              </button>
            </form>
            <form
              action="/chats/<%= currentChat._id %>/prompts/<%= prompt._id %>?_method=DELETE"
              method="POST"
              class="w-[50%]"
            >
              <button
                class="w-full rounded-lg bg-red-600 py-2 font-medium text-white transition duration-150 ease-in hover:bg-red-400"
              >
                Delete
              </button>
            </form>
          </nav>
        </div>
      </div>
      <% } %>
    </main>
    <% } else {%>
    <aside class="absolute bottom-0 left-0 right-0 mx-auto mb-24 w-[95%]">
      <p class="px-2 text-xl font-black text-emerald-500">- Hint -</p>
      <div
        class="mt-2 rounded-lg border border-accentLight2 px-2 py-3 text-white"
      >
        <p class="font-bold">Enter your prompt:</p>
        <p class="text-sm font-normal text-accentLight3">
          ghost riders in the sky
        </p>
      </div>
    </aside>
    <% } %>

    <div
      class="fixed bottom-0 w-full border-t border-accentLight2 bg-[#2a2a2a] py-4"
    >
      <form
        action="/chats/<%= currentChat._id %>/prompts"
        method="POST"
        class="flex justify-center"
      >
        <div class="mx-auto flex w-full justify-center lg:w-[40%]">
          <input
            type="text"
            name="textChat"
            id="textChat"
            placeholder="Send a prompt"
            class="mx-auto w-[95%] rounded-md border border-accentLight2 bg-transparent px-2 py-3 text-white transition duration-150 ease-in focus:border-emerald-500 focus:outline-none"
          />
        </div>
      </form>
    </div>

    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <%- include('../partials/flash') %>

    <script>
      function toggleSlideOver() {
        document
          .getElementById("slideover-container")
          .classList.toggle("invisible");
        document
          .getElementById("slideover")
          .classList.toggle("-translate-x-full");
      }

      function togglePopUp(textChat, currentChatId, promptId) {
        const editTextChat = document.getElementById("editTextChat");
        editTextChat.value = textChat;

        const editTextChatForm = document.getElementById("editTextChatForm");
        editTextChatForm.action = `/chats/${currentChatId}/prompts/${promptId}?_method=PUT`;

        document
          .getElementById("popup-container")
          .classList.toggle("invisible");
        document.getElementById("popup-bg").classList.toggle("opacity-0");
        document.getElementById("popup-bg").classList.toggle("opacity-50");
        document.getElementById("popup").classList.toggle("translate-x-full");
      }
    </script>

    <script>
      $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
        $("body").removeClass("preload");
      });
    </script>
  </body>
</html>
